[Unit]
After=multi-user.target
ConditionPathIsMountPoint=/mnt/MPD

[Service]
Type=idle
ExecStart=/root/runonce.sh

[Install]
WantedBy=multi-user.target
